@charset "utf-8";
/* CSS Document */

#pagelist {
	font-size: 13px;
	color: #333333;
	text-align:center;
}

#pagelist ul {
	list-style-type: none;
	float: left;
	margin: 0px;
	padding: 0px;
}
.product {	
	height: 20px;
	width: 20px;
	float:left;
	line-height: 20px;
	margin-right: 3px;
	margin-left: 3px;
	letter-spacing: 1px;
	font-family: Arial, Helvetica, sans-serif;
}
#pagelist li { float: left; font-family: Arial, Helvetica, sans-serif;}
#pagelist li a {
	float: left;
	height: 20px;
	width: 20px;
	text-align: center;
	border: 1px solid #dddddd;
	list-style-type: none;
	margin-right: 3px;
	line-height: 20px;
	font-weight: bold;
	background-color: #f0efed;
	color: #b7b7b7;	
}
#pagelist li a:link,#pagelist li a:hover,#pagelist li a:visited{
	color: #b7b7b7;
	text-decoration: none;
}
.sel, #pagelist li a:hover {
	background-color: #fff7cc;
	height: 20px;
	width: 20px;
	text-align: center;
	line-height: 20px;
	font-weight: bold;
	border: 1px solid #e5d4c9;
	color: #ccaa94;
	margin-right: 3px;
}

